/* */
.caixa{
    margin: 50px auto;
    max-width: 800px;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5;
  }
  
  .content{
    width: 100%;
    /*background: #fff;*/
    /*margin-top: 10px; */
    border-radius: 5px;
    padding: 30px;
  }
  
  .content > p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  .content form{
    display: flex;
    flex-direction: column;
  }
  
  .content form label {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .content form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
  }
  
  .content button.btn{
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #FF591C;
    color: #FFF;
    cursor: pointer;
  }
  
  .content button.btn:hover{
    background: #ff4704;
  }

  .link{
    color: #FF591C;
    display: block;
    margin: 0 auto;
  }

.pp{
  font-size: 18px;
  margin-top: 30px;
}