.navbar2{

  background: #f87f53;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;


}
.but{
  

  width: 100px;
  height: 30px;
  background: rgba(253, 253, 253, 0.81);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  border-style: none;
  color: #ff4704;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 5px;
  padding-top: 11px;
  text-decoration: none;
}
.but:hover{
  background-color:#ff4704d0;
  color: white;

}
