.navbar2{
  background: #1E88E5;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #E3F2FD;

}

.link-color{
  color: #E3F2FD;
}

.link-color:hover{
  color: #E3F2FD;
}

.but{
  width: 100px;
  height: 30px;
  background: #F5F5F5;
  backdrop-filter: blur(4px);
  border-radius: 5px;
  border-style: none;
  color: #1E88E5;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 5px;
  padding-top: 11px;
  text-decoration: none;
}
.but:hover{
  background-color:#1E88EE;
  color: #fafafa;
}


